{% extends "layout.html" %}

{% block content %}
    <h1>Bin Level Monitor</h1>
    <p class="level">{{ bin_data.distance }} cm</p>
    <div class="fill-bar">
        <div class="fill" style="width: {{ bin_data.distance }}%;"></div>
    </div>
    <p class="status" style="color: {{ 'red' if status == 'Full' else 'green' }}">{{ status }}</p>
    <div class="sensor-data">
        <p>Temperature: {{ bin_data.temperature }} &#8451;</p>
        <p>Humidity: {{ bin_data.humidity }} %</p>
    </div>
{% endblock %}
